* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #edf8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  margin: 20px;
  padding: 20px;
  background-color: white;
  width: 300px;
}

button {
  margin-top: 20px;
  width: 100%;
  background-color: blueviolet;
  border: 0;
  color: white;
  padding: 5px;
}

h3 {
  font-size: small;
}
