h4 {
  font-size: small;
}

p {
  font-size: smaller;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.person {
  display: flex;
  align-items: center;
  padding: 10px;
}
